<h1>Got Somtething to Shout?</h1>
<h2>Sign up now.  Bitches</h2>
<%= form_for @user, :url =>{:action=>"create"}  do |user_form| %>
	<%= user_form.label(:username,  "screen name") %>
	<%= user_form.text_field(:username) %>
	<%= user_form.submit("Signup") %>
<% end %>